@font-face {
  font-family: sans;
  src: url("../src/Resource/fonts/IRANSansWeb.woff2");
  /*font-size: 16pt;*/
}
@font-face {
  font-family: sansDn;
  src: url("../src/Resource/fonts/IRANSansDN.ttf");
  /*font-size: 16pt;*/
}

body {
  margin: 0;
  height: 100%;

  font-family: sansDn,-apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.sansFont{
  font-family: sansDn,-apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
}
html{
  overflow: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
